:root {
    --background-color: #283d3b;
    --text-color: #edddd4;
    --message-background: #c44536;
    --message-text-color: #edddd4;
    --heading-color: #edddd4;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.message {
    text-align: center;
    padding: 30px;
    background-color: var(--message-background);
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
    max-width: 600px;
    width: 100%;
    margin: 20px auto;
}

h1,
h2 {
    color: var(--heading-color);
    margin-bottom: 20px;
}

#daily-title {
    font-size: 24px;
    color: var(--heading-color);
    margin-top: 20px;
}

#heartfelt-message,
#love-quote,
#memory {
    font-size: 18px;
    color: var(--message-text-color);
    margin: 20px 0;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

#countdown {
    font-size: 24px;
    font-weight: bold;
    color: var(--heading-color);
    margin: 20px 0;
}

button {
    background-color: var(--text-color);
    color: var(--message-background);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--heading-color);
    color: var(--message-background);
}
